/* Estilos Generales */
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    background: -webkit-linear-gradient(bottom, rgb(123, 55, 55), rgb(235, 221, 221));
}

/* Estilos Encabezado */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 144, 144);
    padding: 20px;
}

.logo img {
    width: 350px;
    height: auto;
    transition: 0.5s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

/* Estilo Barra de navegación */
.menu {
    display: flex;
    padding: 20px;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

.menu li:hover {
    transform: translateY(-4px);
}

.menu a:hover {
    color: #6f2020;
}

/* Estilos para la sección de presentación */
#presentacion {
    padding: 20px; /* Agregar espaciado interior para separar del encabezado y menú */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    grid-gap: 20px;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 1200px; /* Ancho máximo para evitar que se extienda demasiado */
}

.container .item {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.container img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

/* Estilos para los títulos */
.container h2 {
    font-size: 24px; /* Tamaño de fuente para los títulos */
    font-weight: bold; /* Peso de fuente en negrita */
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

/* Estilos para los párrafos */
.container p {
    font-size: 16px; /* Tamaño de fuente para los párrafos */
    line-height: 1.5; /* Espaciado entre líneas para una mejor legibilidad */
}

/* Estilos para el footer */
footer {
    background-color: rgb(146, 144, 144);
    padding: 20px;
    text-align: center;
}

.footer-logo img {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    margin-bottom: 20px; /* Espacio entre el logo y el texto */
}

footer p {
    color: white;
    font-size: 14px;
    margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para el enlace "El Primo" */
footer a {
    color: #6f2020; /* Cambia el color del enlace según tus preferencias */
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para el enlace "El Primo" al pasar el mouse */
footer a:hover {
    text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2? family= Fira+Sans:wght@100 & family= Roboto:wght@500 & display=swap');

